@import '../../global/global.scss';

:host {
    pointer-events: none;

    * {
        box-sizing: border-box;
    }

    .ripple {
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;

        .ripple-inner {
            display: block;
            height: 0%;
            padding: 50% 0px;
            width: 100%;
            background: $primary;
            border-radius: 50%;
            transform: scale(0, 0);
        }
    }

    .active.container>.ripple {
        opacity: 1;

        .ripple-inner {
            transform: scale(2, 2);
        }
    }
}